<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thenewboston" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.camera" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StreamActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/sign_in" >
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NBYoutubeVideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_youtube_video" >
        </activity>
        <activity
            android:name=".CreatePostActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_create_post" >
        </activity>
        <activity
            android:name=".CommentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_comment" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".FriendChooseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_friend_choose" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".FriendRequestActivity"
            android:label="@string/title_activity_friend_request" >
        </activity>
        <activity
            android:name=".MessagesInboxActivity"
            android:label="@string/title_activity_messages_inbox" >
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification" >
        </activity>
        <activity
            android:name=".MessagesSentActivity"
            android:label="@string/title_activity_messages_sent" >
        </activity>
        <activity
            android:name=".MessagesTrashActivity"
            android:label="@string/title_activity_messages_trash" >
        </activity>
        <activity
            android:name=".InfoBasicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_info_basic" >
        </activity>
        <activity
            android:name=".InfoContactActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_info_contact" >
        </activity>
        <activity
            android:name=".InfoEducationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_info_education" >
        </activity>
        <activity
            android:name=".InfoEmploymentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_info_employment" >
        </activity>
        <activity
            android:name=".InfoLinksActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_info_links" >
        </activity>
        <activity
            android:name=".MessagesReadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_messages_read" >
        </activity>
        <activity
            android:name=".MessagesComposeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_messages_compose" >
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_change_password" >
        </activity>
        <activity
            android:name=".DeleteAccountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_delete_account" >
        </activity>

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
    </application>

</manifest>
